@charset "utf-8";
/* CSS Document */



/*Navigation/Head*/      

.navigation {
  height: 6.883vw;
  background: #262626;
  position: sticky;
       top: 0;
       z-index: 1030;
       width: 100%;
}

.brand {
  position: absolute;
  padding-left: 1.967vw;
  float: left;
  line-height: 6.883vw;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 98.328vw;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 1.967vw;
  line-height: 6.883vw;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 0.393vw;
  content: " ▾";
}
nav ul li ul li {
  min-width:18.682vw;
}
nav ul li ul li a {
  padding: 1.475vw;
  line-height: 1.967vw;
}


/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 6.883vw;
  width: 6.883vw;
}

@media only screen and (max-width: 78.466vw) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 6.883vw 0 1.475vw;
  }

  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 1.475vw;
    line-height: 1.967vw;
  }
  nav ul li ul li a {
    padding-left: 2.95vw;
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 78.564vw)
 {
  .nav-list {
    display: block !important;
  }

html {
  scroll-behavior: smooth;
  }

  body {
  margin-right: 0vw;
  margin-left: 0vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
}

.a {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.9;
  margin-bottom: 25px;
}

.ab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.916vw;
  text-decoration: underline lightgreen 0.8vw;
}


.faat{
  display: inline-block;
float: right;
padding-top: 13.5vw;
padding-bottom: 6vw;
padding-right: 10vw;
margin-right: 30vw;
text-align: center;
font-family: fantasy;

}

.faaat {
  width: 25%;
  height: auto;
  display: inline-block;
  float: left;
  position: left;
  padding: 5vw 5vw 5vw 5vw;
}

.baat{
display: inline-block;
float: right;
padding-top: 13.5vw;
padding-bottom: 6vw;
padding-right: 10vw;
margin-right: 30vw;
text-align: center;
font-family: fantasy;
}

.baaat {
  width: 25%;
  height: auto;
  float: left;
  padding: 5vw 5vw 5vw 5vw;
}

.p1 {
  text-align: center;
  font-family: fantasy;
  font-size: 25px;
}

.mm {
  display: inline-block;
}

.nn {
  display: inline-block;
}

.p2 {
  text-align: center;
  font-family: fantasy;
  font-size: 25px;
  padding: 15px 15px;
  margin: 15px 15px 15px 15px;
  padding-left: 20vw;
  padding-right: 20vw;
}

